var json = {
    id: "1",
    name: "yahoo",  
    children: [
	{% for node in nodelist %}
	{
	    id:"{{ node.content }}",
	    name:"{{ node.content }}",
            data: {  
		relation: ""  
            },  
            children: [] 
	},
	{% endfor %} 

    ],  
    data: {  
        relation: "<h4>yahoo</h4><b>Connections:</b><ul>	{% for node in nodelist %}<li>{{node.content}}</li> <div>(relation: collaboration)</div>{% endfor %}</ul>"  
    }  
};  

    <html>
    <head>
    <title>test</title>
    </head>
    <body>
    <h1>test</h1>
    testtest
{% if nodelist %}
    <ul>
    {% for node in nodelist %}
    <li><a href="http://en.wikipedia.org{{ node.href }}/">{{ node.content }}</a></li>
    {% endfor %} 
</ul>
    {% else %}
    <p>No results</p>
    {% endif %}
    <address>
    <a href="mailto:root@nov503">Yunxing Dai</a>
    </address>
    </body>
    </html>
